.main_btn {
  flex: 1 1 auto !important;
  margin: 10px !important;
  padding: 15px 65px !important;
  font-family: "sora-light";
  font-size: 20px !important;
  color: #fff !important;
  border-radius: 30px !important;
  border: none;
  background-image: linear-gradient(
    to right,
    $startGradient,
    $endGradient
  ) !important;
  transition: all 0.5s linear !important;

  @media (max-width: 767px) {
    padding: 15px 15px !important;
  }
}

.dis_btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 15px 65px;
  font-family: "sora-light";
  font-size: 20px;
  color: $darkGray;
  border-radius: 30px;
  border: 1px solid $lightGray;
  background-color: #fff;
  transition: all 0.5s linear;
  @media (max-width: 767px) {
    padding: 15px 98px;
  }
}
/******************************************************************
||||||||| for first step radio button ( male, female ) |||||||||||||
*******************************************************************/
.ant-radio {
  height: 30px !important;
  width: 30px !important;
  background-color: $gray !important;
}
.ant-radio-checked .ant-radio-inner {
  border-color: transparent !important;
  background-image: linear-gradient(to right, $startGradient, $endGradient);
  background-color: transparent !important;
}
.ant-radio-inner::after {
  content: "";
  display: block;
  background: url("../../images/icons/checked.png") no-repeat;
  width: 100% !important;
  height: 100% !important;
  float: left;
  margin: 0 6px 0 0;
  background-color: transparent !important;
  top: 10px !important;
  left: 7px !important;
}

.ant-radio-wrapper {
  justify-content: center !important;
  align-items: center !important;
  .ant-radio-inner {
    width: 100% !important;
    height: 100% !important;
    background-color: $gray !important;
    border-radius: 0 !important;
  }
}

.progress-bar {
  background-color: $darkBlue !important;
  background-image: linear-gradient(to right, $startGradient, $endGradient);
}

/*******************************************************
||||||||| for question choice radio button |||||||||||||
********************************************************/

.ant-radio-button-wrapper {
  height: 60px !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 10px !important;
  border-radius: 35px !important;
  background-color: $gray !important;
  color: $darkGray !important;
  outline: none !important;
  &:not(:first-child)::before {
    display: none !important;
  }
  img {
    margin: 10px;
  }
}

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-image: linear-gradient(
    to right,
    $startGradient,
    $endGradient
  ) !important;
  color: $darkGray !important;
  outline: none !important;
}
